<header
  class="fixed top-0 z-10 w-full bg-base_dark font-poppins sm:py-2 lg:py-3"
>
  <div class="flex items-center justify-between text-2xl">
    <a href="/">
      <div
        [@logoAnimation]="'*'"
        class="ml-2 flex flex-wrap gap-2 text-lg font-medium text-white xs:ml-5 xs:text-2xl sm:text-3xl"
      >
        <div class="flex items-center">
          <img
            ngSrc="assets/icons/svg/logo.svg"
            alt="D"
            height="40"
            width="40"
            class="mr-1 h-7 w-7 sm:h-10 sm:w-10"
          />
          <span>ubrovschii</span>
        </div>
        <span class="flex items-center">Semion</span>
      </div>
    </a>

    <ng-template #navlinks>
      <ul class="text-white lg:flex lg:gap-4 xl:gap-10">
        <li (click)="scrollToAnchor('about', 100)">
          <a
            class="flex cursor-pointer select-none items-center px-4 py-2 text-gray-200 transition duration-300 hover:bg-base_light lg:rounded-full lg:hover:bg-accent_light"
          >
            <img
              ngSrc="assets/icons/svg/about.svg"
              alt="about"
              height="20"
              width="20"
            /><span class="ml-3">About</span>
          </a>
        </li>
        <li (click)="scrollToAnchor('skills', 100)">
          <a
            class="flex cursor-pointer select-none items-center px-4 py-2 text-gray-200 transition duration-300 hover:bg-base_light lg:rounded-full lg:hover:bg-accent_light"
          >
            <img
              ngSrc="assets/icons/svg/portfolio.svg"
              alt="portfolio"
              height="20"
              width="20"
            /><span class="ml-3">Skills</span>
          </a>
        </li>
        <li (click)="scrollToAnchor('timeline', 100)">
          <a
            class="flex cursor-pointer select-none items-center px-4 py-2 text-gray-200 transition duration-300 hover:bg-base_light lg:rounded-full lg:hover:bg-accent_light"
            ><img
              ngSrc="assets/icons/svg/work-experience.svg"
              alt="experience"
              height="20"
              width="20"
            /><span class="ml-3">Experience</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <nav
      class="flex rounded-l-full py-1 pl-5 pr-3 xs:ml-[1rem] sm:py-2 sm:pl-8 lg:bg-base_light"
      [@navLinksAnimation]="'*'"
    >
      <div class="hidden pr-[1rem] text-[27px] lg:block lg:pl-3 xl:pl-8">
        <div *ngTemplateOutlet="navlinks"></div>
      </div>

      <div class="flex lg:hidden">
        <div
          class="flex items-center justify-center rounded-2xl p-2 focus:outline-none"
          mat-ripple
          [matRippleColor]="ripplesColor"
          (click)="toggleDropdown()"
          appClickOutside
          (clickOutside)="onClickedOutside()"
        >
          <a>
            <img
              ngSrc="assets/icons/svg/menu.svg"
              alt=""
              width="30"
              height="30"
            />
          </a>
        </div>

        <div
          [@dropdownAnimation]="dropdownVisible ? 'visible' : 'hidden'"
          [ngStyle]="{ display: display }"
          (@dropdownAnimation.done)="onAnimationEnd($event)"
          (@dropdownAnimation.start)="onAnimationStart($event)"
          class="absolute right-0 mr-4 mt-12 w-60 rounded-lg bg-[#272e2e] py-2 text-base shadow-xl sm:text-lg"
        >
          <div class="block lg:hidden">
            <div *ngTemplateOutlet="navlinks"></div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
