<div
  class="flex h-screen w-screen items-center justify-center px-5 font-rubik lg:px-20"
>
  <div class="flex flex-wrap items-center justify-around gap-x-48 gap-y-10">
    <img
      class="h-48 w-48 rounded-full border-8 border-gray-600 object-cover sm:h-64 sm:w-64 md:h-80 md:w-80 lg:h-96 lg:w-96"
      src=""
      alt="Dubrovschii Semion"
    />

    <div class="space-y-4 text-center xl:text-left">
      <p class="text-4xl sm:text-5xl md:text-6xl">Dubrovschii Semion</p>
      <p class="text-xl text-gray-400 sm:text-2xl">
        Full Stack Developer (Java + Angular)
      </p>
      <div class="flex justify-center space-x-4 text-lg xl:justify-normal">
        <a
          class="group relative inline-block overflow-hidden rounded-lg border border-base_dark px-2 py-3 focus:outline-none sm:px-8"
          href="/download"
        >
          <span
            class="absolute inset-y-0 left-0 w-0 bg-base_light transition-all group-hover:w-full group-active:bg-base_light"
          ></span>

          <span
            class="relative font-medium text-base_dark transition-colors group-hover:text-white"
          >
            View Portfolio
          </span>
        </a>

        <a
          class="group relative inline-block overflow-hidden rounded-lg border border-base_dark px-2 py-3 focus:outline-none focus:ring sm:px-8"
          href="/download"
        >
          <span
            class="absolute inset-y-0 left-0 w-0 bg-base_light transition-all group-hover:w-full group-active:bg-base_light"
          ></span>

          <span
            class="relative font-medium text-base_dark transition-colors group-hover:text-white"
          >
            Download resume
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
