<section
  id="timeline"
  class="flex justify-center bg-gray-100 px-2 pb-[7rem] pt-10 font-rubik md:px-10"
>
  <div class="max-w-screen-xl">
    <header class="mb-10 text-center text-4xl">
      My projects and experience
    </header>

    <div class="relative m-8 my-8 py-20">
      <div
        class="timeline absolute left-0 top-0 h-full w-1 bg-gray-400 xl:left-1/2"
      ></div>

      <ul>
        <li *ngFor="let event of timelineEvents; let i = index">
          <app-timeline-card [event]="event" [rightSidePosition]="i % 2 == 1">
          </app-timeline-card>
        </li>
      </ul>
    </div>
  </div>
</section>
