<div class="flex justify-center bg-gray-100 px-10 pb-[10rem] pt-20 font-rubik">
  <div class="max-w-screen-xl">
    <div class="mb-10 text-center text-4xl">My projects and experience</div>

    <div class="relative m-8 py-20">
      <div
        class="timeline absolute left-0 top-0 h-full w-1 bg-gray-400 xl:left-1/2"
      ></div>

      <div class="relative mb-8 xl:mb-16">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/icons/svg/logo-black.svg"
            alt="D"
            height="30"
            width="30"
            class="ml-1"
            priority
          />
        </div>
        <div
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:max-w-[40%]"
          [@bounceIn]="scrolledIntoView[1] ? animationType : 'void'"
          appInView
          (inView)="onInView('1')"
        >
          <h3 class="mb-3 text-3xl font-medium">Personal website</h3>
          <p class="text-xl text-gray-600">
            This personal website (the one you are currently on) is a nice
            addition to my portfolio. It was built with angular and tailwind. I
            aim to keep the website up-to-date with my latest achievements.
          </p>
          <p
            class="mt-5 text-lg text-gray-500 xl:absolute xl:-right-56 xl:top-0"
          >
            April 2023
          </p>
        </div>
      </div>

      <div class="relative mb-8 xl:mb-16 xl:flex xl:justify-end">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/icons/svg/network.svg"
            alt="D"
            height="30"
            width="30"
            priority
          />
        </div>
        <div
          [@bounceIn]="scrolledIntoView[2] ? 'fromRight' : 'void'"
          appInView
          (inView)="onInView('2')"
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:ml-0 xl:mr-16 xl:max-w-[40%]"
        >
          <h3 class="mb-3 text-3xl font-medium">Home server</h3>
          <p class="text-xl text-gray-600">
            I decided to turn my old computer into a home server. It is running
            proxmox with an ubuntu server virtual machine. This website is also
            hosted on my home server.
          </p>
          <p
            class="mt-5 w-full text-lg text-gray-500 xl:absolute xl:-left-96 xl:top-0 xl:w-1/2 xl:text-right"
          >
            April 2023
          </p>
        </div>
      </div>

      <div class="relative mb-8 xl:mb-16">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/icons/svg/comment-alt.svg"
            alt="Chat icon"
            height="30"
            width="30"
            class="mt-1"
            priority
          />
        </div>
        <div
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:max-w-[40%]"
          [@bounceIn]="scrolledIntoView[3] ? animationType : 'void'"
          appInView
          (inView)="onInView('3')"
        >
          <h3 class="mb-3 text-3xl font-medium">Chatio</h3>
          <p class="text-xl text-gray-600">
            Chatio is a full-stack application built with a spring backend and
            angular frontend. It is a simple chat app that utilizes mainly web
            socket connections. In the near future, I will deploy it on my
            server and you will be able to try it out. But right now you can
            <a
              href="https://github.com/Caffadras/chatio-be"
              class="font-semibold text-gray-700 hover:underline"
              target="_blank"
              >see code</a
            >
          </p>
          <p
            class="mt-5 text-lg text-gray-500 xl:absolute xl:-right-[15rem] xl:top-0"
          >
            March 2023
          </p>
        </div>
      </div>

      <div class="relative mb-8 xl:mb-16 xl:flex xl:justify-end">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/images/telegram.png"
            alt="Chat icon"
            height="30"
            width="30"
            class="mr-1"
            priority
          />
        </div>
        <div
          [@bounceIn]="scrolledIntoView[4] ? 'fromRight' : 'void'"
          appInView
          (inView)="onInView('4')"
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:ml-0 xl:mr-16 xl:max-w-[40%]"
        >
          <h3 class="mb-3 text-3xl font-medium">Telegram bot</h3>
          <p class="text-xl text-gray-600">
            I wanted to make a telegram bot in Java for students in my college.
            It parses the college website and generates a pdf report based and
            your grades. Decided not to polish this bot because my college
            website did not publish all grades for some reason, so the pdf
            reports were not very accurate.
          </p>
          <p
            class="mt-5 w-full text-lg text-gray-500 xl:absolute xl:-left-96 xl:top-0 xl:w-1/2 xl:text-right"
          >
            January 2023
          </p>
        </div>
      </div>

      <div class="relative mb-8 xl:mb-16">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/icons/svg/portfolio-black.svg"
            alt="Chat icon"
            height="30"
            width="30"
            priority
          />
        </div>
        <div
          [@bounceIn]="scrolledIntoView[5] ? animationType : 'void'"
          appInView
          (inView)="onInView('5')"
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:max-w-[40%]"
        >
          <h3 class="mb-3 text-3xl font-medium">Intership</h3>
          <p class="text-xl text-gray-600">
            During my internship at Endava, I worked on a REST API for a ‘Budget
            planner’ application using Spring. As part of the development team,
            I designed and implemented various endpoints for the API, including
            login system and budget management.
          </p>
          <p
            class="mt-5 text-lg text-gray-500 xl:absolute xl:-right-[27rem] xl:top-0"
          >
            September 2022 - December 2022
          </p>
        </div>
      </div>

      <div class="relative mb-8 xl:mb-16 xl:flex xl:justify-end">
        <div
          class="absolute -left-[30px] top-0 flex h-16 w-16 items-center justify-center rounded-full border-2 border-accent_light bg-white xl:left-[50%] xl:ml-[-30px]"
        >
          <img
            ngSrc="assets/icons/svg/graduation-cap.svg"
            alt="Chat icon"
            height="30"
            width="30"
            priority
          />
        </div>
        <div
          [@bounceIn]="scrolledIntoView[6] ? 'fromRight' : 'void'"
          appInView
          (inView)="onInView('6')"
          class="relative ml-16 rounded-lg border-2 border-accent_light bg-white p-4 xl:ml-0 xl:mr-16 xl:max-w-[40%]"
        >
          <h3 class="mb-3 text-3xl font-medium">College</h3>
          <p class="text-xl text-gray-600">
            Although I studied programming before, here I started to do it more
            seriously. I managed to try myself in c++, c#, but most of all I
            liked Java.
          </p>
          <p
            class="mt-5 w-full text-lg text-gray-500 xl:absolute xl:-left-96 xl:top-0 xl:w-1/2 xl:text-right"
          >
            2020 - 2024
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
