<div
  id="about"
  class="flex justify-center bg-accent_light font-rubik text-3xl text-white"
>
  <div class="p-10 md:px-20 md:py-20 xl:max-w-screen-xl">
    <div class="text-5xl">👋 Hi!</div>
    <p class="py-5">
      I am a Full Stack Developer, specializing in Java and Angular.
    </p>
    <p class="font-thin">
      I am passionate about programming, and thrive on solving complex problems.
      I am always open to new challenges, so do not hesitate if you have any
      ideas or suggestions!
    </p>
  </div>
</div>
